


<div class="col-xs-2">
  <h2>Queries</h2>
  <ul>
  {{#each query}}
  <li>{{@key}}: {{this}}</li>
  {{/each}}
  </ul>
</div>
<div class="col-xs-10">
  <h2>Results</h2>
  <table class="table">
    <thead>
      {{#each header}}
      <th scope="col">{{this}}</th>
      {{/each}}
    </thead>
    <tbody>
      {{#each houses}}
      <tr>
        {{#each this}}
        <td scope="row">{{this}}</td>
        {{/each}}
      </tr>
      {{/each}}
    </tbody>
  </table>


</div>
